body {
	
	margin-top: 5em;
}

#instructions {
	font-family: Courier, monospace;
	font-size: 1em;
	color: #C6C5C5;
	width: 50%;
	margin: auto;
	margin-bottom: 2.5em;
}

#io-container {

	overflow: hidden;
}

#input, #output{

	font-family: Courier, monospace;
	font-size: 1.8em;
}

p#output {

	width: 90%;
	margin: 0em;
	padding: .6em;
}

textarea {

	width: 70%;
	height: 10em;
	display: block;
	margin: auto;
	resize: vertical;
	padding: .6em;
	border-color: #E4E4E4;
}

textarea:focus {

	outline: none;
	border-color: #C4C4C4;
}

#input-container, #output-container {

	width: 50%;
	margin: none;
	float: left;
	padding: 0em;
}

button {

	display: inline-block;
	margin: 1em 6%;
	padding: 0em .7em;
	font-family: Courier, monospace;
	color: #C4C4C4;
	background-color: #ffffff;
	border: 1px solid #C4C4C4;
	border-radius: .1em;
	font-size: 1.5em;
	cursor: pointer;
}

button:hover {

	background-color: #000000;
	border-color: #000000;
	color: #ffffff;
}
